/*canvas{border: 1px solid #000; background-color: #ffffff}*/
body{background-color:#b3e0ff; cursor: default; margin:0; margin-bottom:0;}
h1{color: #ffffff;}
h3{color: #ffffff;}
p{color: #ffffff; margin-top:6px; margin-bottom: 0;}
* {
    box-sizing: border-box;
}
.sidebar {
    float: left;
    width: 25%;
    background-color: #1aa3ff;
    padding: 20px;
}
.board {
    float: left;
    width: 75%;
    height: 100%;
    background-color: #b3e0ff;
    padding: 20px;
}
#art{
    /*border: 1px solid #000;*/
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#img_temp{
    position: absolute;
}
#brush_size{
    position: relative;
    top: -20px;
}
#f1{
    position: relative;
    top: -20px;
}
#f2{
    position: relative;
    top: -20px;
}